.side_left{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #eeeeee;
    -fx-border-style: solid;
}
.pane_top{
    -fx-background-color: #8E0D3C       ;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
}
.sec_pane{
    -fx-background-color: #eeeaea;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
}
.normalBtn{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
.normalBtn1{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.normalMainBtn{
    -fx-background-color: #8E0D3C;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
.Home_btn{
    -fx-background-color: #8E0D3C;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.hBox_main{
    -fx-background-color: #ffffff;
}
.search_Bar{
    -fx-background-color: #8E0D3C;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
    -fx-font-family: "Century Gothic";
}
.pane_Body1{
    -fx-background-color: #8E0D3C;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#8E0D3C;
}
.Pane_11{
    -fx-background-color: #FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#FD9999;
}
.Pane_112{
    -fx-background-color: #ea7070;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color:#FD9999;
}
.pane_navBar{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #eeeeee;
    -fx-border-style: solid;
}
.bodyy{

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #f0f0f0; /* Optionally set background color */
    -fx-border-color: #ccc; /* Optionally set border color */
    -fx-border-width: 1px;
}
fieldtext {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #f0f0f0; /* Optionally set background color */
    -fx-border-color: #ccc; /* Optionally set border color */
    -fx-border-width: 1px; /* Optionally set border width */
}

.pane_back_body{
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #eeeeee;
    -fx-border-style: solid;
}
.btn_conf{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #001233;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.btn_decline{
    -fx-background-color: #8E0D3C;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #8E0D3C;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.choice-box {
    -fx-background-color: #001233;
    -fx-mark-color: #8E0D3C;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.btnQuit{
    -fx-background-color: #8E0D3C;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #8E0D3C;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.textt{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px ;
}
.textt1{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px ;

}